p {
    margin-bottom: 0.5rem;
}

blockquote {
    border-left: .25rem solid #5bc0de;
}

#sketch-settings {
    min-width: 200px;
    max-width: 400px;
    min-height: 210px;
    padding: 10px;
}

.card-footer {
    text-align: right;
}

.card-footer>a {
    text-decoration: none;
    font-size: 14px;
}